@{
    ViewBag.Title = "Select Location";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>
<!--
<div class="page-header text-center">
    <h3>Select Location</h3>
    <p>Select Location Address, Cross Streets or Parcel Number and enter required data or click (Drop pin) on map to select location</p>
</div>
-->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Address')" id="tabAddress">Address</button>
                <button class="tablinks" onclick="openTab(event, 'CrossStreets')" id="tabCrossStreets">Cross Streets</button>
                <button class="tablinks" onclick="openTab(event, 'Parcel')" id="tabParcel">Parcel</button>

            </div>
            <div id="Address" class="tabcontent">
                <h4>Enter address</h4>
                <label>Address:</label>
                <br />
                <input id="AddressText" name="LocAddress" class="user-input">
                <br />
                <br />
                <label><b>Results:</b></label>
                <br />
                <div id="ResultText" contenteditable="false"></div>
            </div>
            <div id="CrossStreets" class="tabcontent">
                <h4>Enter cross streets</h4>
                <label>Cross Street 1:</label>
                <br />
                <input id="CrossStreet1Text" class="user-input">
                <br />
                <label id="crossstreet2Label">Cross Street 2:</label>
                <br />
                <input id="CrossStreet2Text" class="user-input">
                <br />
                <br />
                <label><b>Results:</b></label>
                <br />
                <div id="Result1Text" contenteditable="false"></div>
            </div>
            <div id="Parcel" class="tabcontent">
                <form>
                    <h4>Enter parcel number</h4>
                    <label>Parcel number:</label>
                    <br />
                    <input type="text" id="ParcelText" class="user-input">
                    <br />
                    <br />
                    <label><b>Results:</b></label>
                    <br />
                    <div id="Result2Text" contenteditable="false"></div>
                </form>
            </div>

            <!-- Within first row -->
            <div class="row" style="padding:10px">
                <div class="col-sm-6">                                     
                    <button type="button" id="BtnDone" class="btn btn-primary" style="width:100%"> DONE </button>                    
                </div>
                <div class="col-sm-6">
                    <button type="button" id="BtnCancel" class="btn btn-primary pull-right"  style="width:100%">CANCEL</button>
                </div>
            </div>

        </div>
        <div class="col-sm-8">
            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view gradient-card-header blue-gradient">

                </div>
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body text-center">

                    <!--Google map-->
                    <div id="map-container" class="z-depth-1" style="height: 600px"></div>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--
        <div class="col-sm-4">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
            -->        
    </div> 
</div>

<script type="text/javascript">
    window.onload = function () {
        initMap();
    };
            </script>



